body{
  background-image: url("C:\Users\Jithesh\Downloads\decorative-frame-flowers.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
  height: 100%;
  
  background-attachment: fixed;
  background-position: center;
}
